.section {
	margin-top: 120px;
	padding-bottom: 80px;
}

.title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	color: #342f45;
}

.list {
	margin-top: 35px;
	display: grid;
	grid-template-columns: repeat(3, 397px);
	gap: 24px;
	justify-content: center;
}

@media (max-width: 1300px) {
	.list {
		grid-template-columns: minmax(0, 397px);
	}
}

@media (max-width: 600px) {
	.section {
		margin-top: 80px;
	}

	.title {
		font-size: 30px;
	}

	.list {
		grid-template-columns: minmax(0, 397px);
	}
}
