@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

:root {
	--color-background: #fff;
	--color-main: #302c42;
	color-scheme: light;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	margin: 0;
	background: var(--color-background);
	color: var(--color-main);
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
