.card {
	background: #fff;
	border-radius: 4px;
	width: 397px;
	height: 266px;
	padding: 20px 24px 18px 32px;
	box-shadow: 0 12px 30px rgb(0 0 0 / 8%);
}

@media (max-width: 600px) { .card { width: 100%; height: auto; min-height: 266px; } }
