.header {
	position: relative;
	width: 100%;
	padding: 80px 0 0 0;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 8px 20px rgba(43, 73, 86, 0.14);
}

.logo {
	position: absolute;
	top: 24px;
	left: 100px;
	display: block;
	width: 240px;
	z-index: 1;
}

.person {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.header {
		padding: 82px 0 0;
	}

	.logo {
		left: 81px;
		width: 190px;
	}

	.person {
		width: 100%;
	}

}

@media (max-width: 480px) {
	.header {
		padding: 18px 0 0;
	}

	.logo {
		display: none;
	}

	.person {
		width: 100%;
	}
}
